.teste{
    font-size: 2rem;
    color: antiquewhite;
    z-index: 1;
}
.about{
    display: flex;
    justify-content: center;
    p{
        position: absolute;
        top: 250px;
        width: 40rem;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        z-index: 1;
        @media (max-width: 768px){ /* responsividade para tablet*/
            top: 150px;
        }
        @media (max-width: 425px) {
            width: 20rem;
            top: 150px;
            font-size: 1.4rem;
        }
        @media (max-width: 550px){
            width: 90%;
        }
       
        @media (min-width: 1024px){
            width: 55rem;
            top: 230px;
            font-size: 2rem;
        }
    }
}