.container{
    margin: 0 auto;
    margin-top: 30px;
    /*width: 1205px;*/
    position: relative;
    bottom: 550px;
    width: 75%;
    height: 415px;
    cursor: grab;
    overflow: hidden;
    
    @media (max-width: 550px) {
        bottom: 500px;
    }
    .slider{
        z-index: 100;
        height: 100.7%;
        display: flex;
        padding: 15px;

    }
    
}