$cor-detalhe4: linear-gradient(83deg,  #ff416c 10.8%, #ff4b2b 94.3% );
.box{
    width: 100%;
    position: relative;
    transition: 2s ease-in-out;
    .img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
    }
}

    .bg{
        padding: 2rem;
        background-color: rgba(0,0,0,0.5);
        width: 55%;
        transform: skewX(7deg);
        position: absolute;
        height: 100%;
        left: -10%;
        padding-left: 20rem;
        transform-origin: 0 100%;
        @media only screen and (max-width: 800px){
            &{
                width: 65%;
            }
        }
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0px;
            background-color: inherit;
            pointer-events: none;
            transform: skewX(10deg);
        }
        @media only screen and (max-width: 650px){
            &{
                width: 100%;
                left: 0;
                bottom: 0;
                height: 54%;
                transform: skewX(0deg);
            }
            &::before{
                width: 120%;
                bottom: 0;
                transform: skewX(0deg);
            }
        }
    }
    .details{
        position: relative;
        top: 100px;
        left: 50px;
        border: 1px solid orange;
        width: 400px;
        h2{
            font-size: 3rem;
            font-weight: 500;
            color: #ff4b2b;
        }
        p{
            color: #fff;
            width: 80%;
            font-size: 1.6em;
            font-weight: 400;
            margin: 15px auto;
                text-align: justify;
        }
        button{
            background: $cor-detalhe4;
            width:  8rem;
            height: 2.5rem;
            color: #f2f2f2;
            border: none;
            font-size: 1.3rem;
            cursor: pointer;
            margin-top: 20px;
            margin-left: calc(200px - 64px);
        }
    }