.container{
    margin: 0 auto;
    margin-top: 30px;
    /*width: 1205px;*/
    position: relative;
    bottom: 550px;
    width: 75%;
    height: 480px;
    overflow: hidden;
    box-shadow: 10px 5px 20px 1px black;
    .slider{
        z-index: 100;
        width: 600%;
        height: 100.7%;
        display: flex;
        
    
        
    }
}